/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
button, input, textarea, select {
    /*fix inherit bugs*/
    font-family: inherit;
    font-size: inherit;
}
button {
    cursor: pointer;
}
button:focus,
textarea:focus,
input:focus {
    outline: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
}

a {
    color: #428bca;
    text-decoration: none;
}
a:hover {
    color: #0089FF;
    /*text-decoration: underline;*/
}

/*class tools*/
.inline {
    display: inline-block;
}
.block {
    display: block;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.no-wrap {
    white-space: nowrap;
}

/*default:input*/
.input-text,
.input-textarea,
.select {
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    /*transition: border .3s;*/
}
.select {
    color: #666;
    /* height: 32px; */
    padding: 7px 6px;
}
.select-sm {
    padding: 1px 2px;
    /* height: 22px; */
}
.input-textarea:focus,
.input-text:focus,
.select:focus {
    border-color: #428BCA;
    box-shadow: 0 0 5px #428BCA;
}
.input-text-group {
    position: relative;
}
.input-text-group > .icon {
    position: absolute;
}  
.input-text {
    /* height: 32px; */
    padding: 8px 10px;
}
.input-textarea {
    padding: 8px 10px;
    vertical-align: top;
}
.input-sm {
    /* height: 22px; */
    padding: 2px 4px;
}
.checkbox-group {
    cursor: pointer;
    display: inline-block;
}
.checkbox-group > .checkbox,
.checkbox-group > .text {
    vertical-align: middle;
}
.checkbox-group > .checkbox {
    /*margin-top: 2px;*/
    cursor: inherit;
}
.checkbox-group > .text {
    padding-left: 5px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -.12em;
    margin-right: 5px;
    fill: currentColor;
}

/*default:button*/
.btn {
    /* height: 32px; */
    border-radius: 3px;
    padding: 8px 17px;
    border: 1px solid #c1c1c1;
    background-color: #fff;
    color: #666;
    cursor: pointer;
}
button.btn .icon {
    margin-right: 0;
}
a.btn {
     display: inline-block; 
    /* line-height: 30px; */
}
a.btn-sm {
    /* line-height: 18px; */
}
a.btn:hover {
    text-decoration: none;
}
.btn-sm {
    /* height: 20px; */
    border-radius: 2px;
    padding: 2px 10px;
}
.btn:hover {
    color: #fff;
    border-color: #c70004;
    background-color: #e60012;
}
.btn-primary {
    color: #fff;
    border: 1px solid #c70004;
    background-color: #e60012;
}
.btn-primary:hover {
    color: #fff;
    background-color: #b8000e;
}
.btn-default:hover {
    color: inherit;
    border-color: #c1c1c1;
    background-color: #f8f8f8;
}

.btns {
    text-align: center;
}
.btns .btn {
    margin-left: 10px;
}
.btns .btn:first-child {
    margin-left: 0;
}

.tab {
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
    padding: 4px 27px 0;
    color: #666;
}
.tab .tab-item {
    cursor: pointer;
    padding: 2px 6px 3px;
    border: 1px solid transparent;
    border-bottom: 0;
    margin-bottom: -1px;
    cursor: pointer;
}
.tab .tab-item.active {
    background-color: #fff;
    border-color: #e0e0e0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.tab-btn {
    
}
.tab-btn .tab-item {
    border: 0;
    margin-right: 10px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    background-color: #a8a8a8;
    cursor: pointer;
}
.tab-btn .tab-item:last-child {
    margin-right: 0;
}
.tab-btn .tab-item:hover {
    background-color: #666;
}
.tab-btn .tab-item.active {
    background-color: #e60012;
}
.tab-btn .tab-item.active:hover {
    background-color: #b8000e;
}

/*default:table*/
.table {
    text-align: center;
    background-color: #f8f8f8;
    width: 100%;
    border-collapse: collapse;
}
.table > thead {
    color: #666;
}
.table > thead > tr > td {
    border: 1px solid #dadada;
    padding: 6px 8px;
    border-top: 0;
}
.table tr td:first-child {
    border-left: 0;
}
.table tr td:last-child {
    border-right: 0;
}
.table > tbody > tr > td {
    border: 1px solid #e0e0e0;
    padding: 8px 8px;
    background-color: #fff;
}
.table > tbody > tr:hover > td {
    background-color: #f8f8f8;
}
.table > tbody > tr:last-child > td {
    border-bottom: 0;
}
.table + .table-foot,
.table + .pagination-container {
    border-top: 1px solid #e0e0e0;
}
.table-foot {
    line-height: 38px;
    padding: 0 19px;
}
.table-foot + .pagination-container {
    padding-top: 0;
}
/*components:pagination*/
.pagination-container {
    display: flex;
    justify-content: flex-end;
    padding: 9px 0;
}
.pagination {
    border-radius: 2px;
    color: #666;
    background-color: #fff;
}
.pagination li {
    border: 1px solid #e5e5e5;
    border-right: 0;
    height: 28px;
    line-height: 26px;
    display: inline-block;
}
.pagination li .not-page,
.pagination li a {
    color: #666;
    /* padding: 0 10px; */
    display: block;
    /* height: 100%; */
    padding: 0px 10px;
}
.pagination li a {
    text-decoration: none;
    text-align: center;
}
.pagination li a:hover,
.pagination li.active a {
    color: #e60012;
    background-color: #efefef;
}
.pagination .form-paging {
    padding: 0px 5px 0px 10px;
}
.pagination .form-paging .input-text {
    color: #666;
    /* height: 20px; */
    width: 50px;
    border-color: #e5e5e5;
    margin: 0 5px;
}
.pagination .form-paging .input-text:focus {
    border-color: #428BCA;
}
.pagination .form-paging .btn {
    border-color: #e5e5e5;
}

/*components:dropdown*/
.dropdown {
    position: relative;
}
.dropdown .drop-toggle {
    position: relative;
    z-index: 1;
}
.dropdown .drop-layer {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}
.dropdown.open {
    z-index: 2;
}
.dropdown.open > .drop-layer {
    display: block;
}

/*components:dialog*/
.dialog-layer {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
}
.dialog-layer.open {
    display: flex;
}
.dialog-layer > * {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .5);
    overflow: hidden;
    margin: auto;
}
.dialog-head {
    background-color: #f8f8f8;
    /* height: 36px; */
    padding: 7px 10px;
    border-bottom: 1px solid #c6c6c6;
}
.dialog-head h1 {
    /* font-size: 14px; */
    font-weight: bold;
    /* line-height: 23px; */
    margin: 0;
    display: inline-block;
    font-weight: normal;
}
.dialog-head .close {
    float: right;
    cursor: pointer;
    /* background-color: #FFF; */
    color: #A0A0A0;
    /* border: 1px solid #D5D5D5; */
    font-weight: bold;
    font-size: 15px;
    position: relative;
    bottom: 3px;
}
.dialog-head .close:hover {
    color: #333;
}
.dialog-body {
      padding: 6px 8px; 
}
.dialog-body .module-group:first-child {
    margin-top: 0;
}

.tooltip {
    position: relative;
}
.tooltip:hover:before {
    background: rgba(0,0,0,.8);
    border-radius: 3px;
    position: absolute;
    bottom: 32px;
    color: #fff;
    content: attr(data-title);
    left: 20%;
    padding: 5px 15px;
}
.tooltip:hover:after {
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
    bottom: 27px;
    left: 50%;
    position: absolute;
}
/*components:tooltip*/
/* .tooltip-trigger {
    position: relative;
}
.tooltip-trigger:hover {
    z-index: 2;
}
.tooltip-trigger:hover .tooltip {
    display: block;
}
.tooltip {
    position: absolute;
    left: 50%;
    margin-top: 15px;
    border: 1px solid #fff;
    background: #f8f8f8;
    padding: 8px 10px;
    border-radius: 4px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .5);
    display: none;
}
.tooltip:before {
    content: '';
    height: 10px;
    width: 10px;
    transform: rotate(-45deg);
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -5px;
    background-color: #F6F6F7;
    background-image: -webkit-linear-gradient(220deg, rgba(248,248,248, 1) 52%, transparent 58%, transparent);
    box-shadow: 2px -2px 2px rgba(0,0,0,.25);
}
.tooltip.up {
    margin-bottom: 20px;
}
.tooltip.up:before {
    transform: rotate(90deg);
    bottom: -6px;
} */

.dialog-layer > .confirm {
    padding: 30px 60px;
}
.dialog-layer > .confirm h1 {
    font-weight: normal;
    font-size: 13px;
    min-width: 150px;
    max-width: 300px;
    margin-bottom: 26px;
}

.form .field-group {
    display: block;
    margin: 20px 0;
}
.form .field-group .label {
    display: inline-block;
    text-align: right;
}
/*.form .form-group label {
    display: inline-block;
    text-align: right;
    line-height: 32px;
    margin-right: 10px;
}
.form .form-group.form-tip {
    overflow: hidden;
    display: none;
}
.form .form-group .tip {
    float: right;
}
.form.error .form-tip {
    display: block;
}
.form.error .tip {
    background-color: #FACCD0;
    padding: 2px 5px;
    border: 1px solid #E60012;
    color: #E60012;
}
.form .form-group.btns {
    margin-top: 30px;
}*/

/*help info;*/
.icon-help:before {
    top: 0;
    text-align: center;
    line-height: 14px;
    content: '?';
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: #dd515c;
    border: 1px solid #e60012;
    color: #fff;
    font-family: arial; 
}
.icon-help .help-message {
    border: 1px solid #e60012;
    background-color: #fce5e7;
    padding: 0px 4px;
    display: none;
/*    opacity: 0;
    transition: all .3s ease-in-out;*/
}
.icon-help:hover .help-message {
    /*opacity: 1;*/
    display: inline;
}
.icon-help:hover:before {
    background-color: #e60012;
}



.module-group {
    margin-top: 9px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    border-radius: 3px;
    overflow: hidden;
}
.module-head {
    background-color: #f8f8f8;
    padding: 0px 8px;
    line-height: 27px;
    border-bottom: 1px solid #e0e0e0;
}
.module-head .module-title {
    flex: 1;
}
.module-body {
    /*padding: 8px 10px;*/
    background-color: #fff;
}
.module {
    position: relative;
}
.request-tip {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    display: flex;
}
.request-tip > .tip {
    margin: auto;
}
.request-tip.loading > .tip {
    width: 75px;
}
.request-tip.loading > .tip:after {
    content: '...';
    margin-left: 3px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 2px;
    -webkit-animation: 1s loading infinite;
}
@-webkit-keyframes loading {
    0% {
        width: 0px;
    }
    100% {
        width: 20px;
    }
}


/*class tools*/
.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.margin-auto {
    margin: auto;
}
.red {
    color: #e60012;
}
.bold {
    font-weight: bold;
}
.large {
    font-size: 18px;
}





.body {
    font: 12px arial 'Microsoft Yahei';
    background-color: #ebebeb;
    color: #333;
    min-width: 1250px;
}
.header {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#333));
    height: 50px;
    line-height: 50px;
    padding: 0 24px;
    margin-bottom: 5px;
    color: #fff;
    position: relative;
}
.header:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -5px;
    background: url(img/bar.png) bottom repeat-x;
}
.header a {
    color: #fff;
}
.header a:hover {
    text-decoration: underline;
}
.header .logo {
    font-size: 15px;
}
.header .logo .icon {
    font-size: 35px;
    vertical-align: -.3em;
}
.header .logo:hover {
    text-decoration: none;
}
.header .user {
    text-align: right;
}
.header .user .name {
    margin-right: 15px;
}


.wrapper {
    min-height: 600px;
    position: relative;
}
.sidebar {
    width: 196px;
    background-color: #f8f8f8;
    box-shadow: 0 0 7px rgba(0, 0, 0, .2);
}
.sidebar .navi {
    font-size: 13px;
}
.sidebar .navi a {
    padding: 7px 9px;
    background-color: #efefef;
    color: #333;
    display: block;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
}
.sidebar .navi li.active a,
.sidebar .navi a:hover {
    background-color: #e60012;
    border-top-color: #e60012;
    color: #fff;
    text-decoration: none;
}
.main {
    flex: 1;
    padding: 9px 11px 10px;
}   
.main .breadcrumbs {
    padding-bottom: 7px;
    border-bottom: 1px dotted #abaaa7;
}
.main .breadcrumbs a {
    color: #666;
}
.main .breadcrumbs a:hover {
    color: #e60012;
}

.footer {
    background-color: #393939;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #ebebeb;
    position: relative;
    margin-top: 5px;
}
.footer:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    top: -5px;
    background: url(img/bar.png) bottom repeat-x;
}