.content .head {
    margin: 9px 0;
}
.content .head .input-text {
    padding-top: 3px;
    padding-bottom: 3px;
}
.content .head .select {
    padding-top: 2px;
    padding-bottom: 2px;
}
.content .head .linkselect .select {
    margin-right: 10px;
}
.content .head .input-text-group .input-text {
    padding-left: 24px;
    width: 270px;
    margin-right: 5px;
}
.content .head .input-text-group .icon {
    top: 5px;
    left: 7px;
    opacity: .6;
}
.content .head .form-inline label {
    color: #666;
    margin-right: 20px;
}
.content .head .form-inline .input-text,
.content .head .form-inline .select {
    margin-left: 3px;
}



.profile .grid {
    min-height: 400px;
}


.profile-detail .dialog-body {
    overflow: auto;
    width: 1200px;
    height: 500px;
}
.profile-detail .deal-item {
    border-bottom: 1px solid #dadada;
    line-height: 39px;
    padding: 0 8px;
}
.profile-detail label {
    color: #666;
    margin-right: 5px;
}
.profile-detail .deal-item .category {
    color: #fff;
    border: 2px solid #c1c1c1;
    border-radius: 15px;
    background-color: #e60012;
    padding: 3px 15px;
    margin-right: 7px;
}
.profile-detail .deal-record {
    min-height: 200px;
}
.profile-detail .back {
    margin-top: 9px;
}



.permission .head .input-text {
    width: 182px;
}
.permission .head .operate {
    padding: 1px 0;
    text-align: right;
}
.permission-user .user-info label {
    width: 180px;
}
.permission-user .user-info .input-text,
.permission-user .user-info .select {
    width: 402px;
    margin-left: 6px;
}
.permission-user .user-access .field-group {
    margin: 0;
    display: flex;
}
.permission-user .user-access .field-group > label {
    background-color: #f8f8f8;
    width: 180px;
    display: flex;
    border-right: 1px solid #e0e0e0;
}
.permission-user .user-access .field-group > label > span {
    margin: auto;
}
.permission-user .user-access .field-group .field {
    flex: 1;
}
.permission-user .user-access .checkbox-group {
    margin: 12px 20px;
}
.permission-user .function-access > label,
.permission-user .function-access .field {
    border-bottom: 1px solid #dadada;
}
.permission-user .function-access .field > li > ul {
    border-top: 1px solid #dadada;
    padding: 0 0 10px 24px
}
.permission-user .function-access .field > li > ul > li {
    display: inline-block;
    vertical-align: top;
    margin-right: 80px;
}
.permission-user .function-access .field > li > ul > li > ul {
    margin-left: 20px;
    position: relative;
}
.permission-user .function-access .field > li > ul > li > ul:before {
    content: '';
    display: block;
    width: 1px;
    background-color: #dadada;
    position: absolute;
    left: 6px;
    top: -13px;
    bottom: 19px;
}
.permission-user .function-access .field > li > ul > li > ul > li {
    position: relative;
}
.permission-user .function-access .field > li > ul > li > ul > li:before {
    content: '';
    display: block;
    height: 1px;
    background-color: #dadada;
    position: absolute;
    left: 7px;
    top: 49%;
    width: 13px;
}
.permission-user .data-access .checkbox-group {
    margin-right: 44px;
}
.permission-user .btns {
    margin-top: 10px;
}