<form action="" class="form">
    <div class="module-group user-info">
        <div class="field-group">
            <label class="label">用户名</label>
            <input type="text" class="input-text" placeholder="请输入用户名">
        </div>
        <div class="field-group">
            <label class="label">联系人</label>
            <input type="text" class="input-text" placeholder="请输入联系人">
        </div>
        <div class="field-group">
            <label class="label">手机号码</label>
            <input type="text" class="input-text" placeholder="请输入联系人手机号码">
        </div>
        <div class="field-group">
            <label class="label">所属角色</label>
            <select class="select">
                <option value="">请选择角色</option>
            </select>
        </div>
        <div class="field-group">
            <label class="label">所属省份</label>
            <select class="select">
                <option value="">请选择省份</option>
            </select>
        </div>
        <div class="field-group">
            <label class="label">所属区域</label>
            <select class="select">
                <option value="">请选择区域</option>
            </select>
        </div>
        <div class="field-group">
            <label class="label">所属门店</label>
            <select class="select">
                <option value="">请选择门店</option>
            </select>
        </div>
    </div>
    <div class="module-group user-access">
        <div class="field-group function-access">
            <label>
                <span>功能权限</span>
            </label>
            <ul class="field">
                <li>
                    <label class="checkbox-group">
                        <input type="checkbox" value="" class="checkbox">
                        <span class="text">门店管理系统</span>
                    </label>
                    <ul>
                        <li>
                            <label class="checkbox-group">
                                <input type="checkbox" value="" class="checkbox">
                                <span class="text">顾客档案管理</span>
                            </label>
                            <ul>
                                <li>
                                    <label class="checkbox-group">
                                        <input type="checkbox" value="" class="checkbox">
                                        <span class="text">顾客档案查看</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox-group">
                                        <input type="checkbox" value="" class="checkbox">
                                        <span class="text">顾客档案上传</span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <label class="checkbox-group">
                                <input type="checkbox" value="" class="checkbox">
                                <span class="text">顾客档案管理</span>
                            </label>
                            <ul>
                                <li>
                                    <label class="checkbox-group">
                                        <input type="checkbox" value="" class="checkbox">
                                        <span class="text">顾客档案查看</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox-group">
                                        <input type="checkbox" value="" class="checkbox">
                                        <span class="text">顾客档案上传</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkbox-group">
                                        <input type="checkbox" value="" class="checkbox">
                                        <span class="text">顾客档案上传</span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="field-group data-access">
            <label>
                <span>数据权限</span>
            </label>
            <div class="field">
                <label class="checkbox-group">
                    <input type="checkbox" value="" class="checkbox">
                    <span class="text">全部数据</span>
                </label>
                <label class="checkbox-group">
                    <input type="checkbox" value="" class="checkbox">
                    <span class="text">单个区域数据</span>
                </label>
                <label class="checkbox-group">
                    <input type="checkbox" value="" class="checkbox">
                    <span class="text">单个门店数据</span>
                </label>
            </div>
        </div>
    </div>
    <div class="btns">
        <button type="submit" class="btn btn-primary">提交</button>
        <button type="button" class="btn btn-default cancel">取消</button>
    </div>
</form>