<div class="head flex">
    <div class="linkselect flex-1"></div>
    <form action="" class="search"></form>
</div>
<div class="module-group">
    <div class="module-head flex">
        <div class="module-title">
            <span>
                <svg class="icon">
                    <use xlink:href="#file"></use>
                </svg>
                总部列表
            </span>
        </div>
    </div>
    <div class="module-body">
        <div class="module grid">
            <script type="text" class="template-grid">
            <table class="table">
                <thead>
                    <tr>
                        <td>手机</td>
                        <td>姓名</td>
                        <td>地区</td>
                        <td>最近购买/联系客服时间</td>
                        <td>最近营销时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    <# $.each(data.users, function() { #>
                    <tr>
                        <td>加密</td>
                        <td><#- (this.name||'-') #></td>
                        <td><#- (this.city||'-') #></td>
                        <td><#- ($.format.date(this.latest_purchase_time*1000, 'yyyy.mm.dd')||'-') #></td>
                        <td><#- ($.format.date(this.latest_marketing_time*1000, 'yyyy.mm.dd')||'-') #></td>
                        <td>
                            <a data-mobile="<#- this.mobile #>" class="btn btn-sm detail">详情</a>
                        </td>
                    </tr>
                    <# }); #>
                </tbody>
            </table>
            </script>
        </div>
    </div>
</div>

<script type="text" id="template-profile-detail">
<div class="dialog-head">
    <h1>
        <svg class="icon">
            <use xlink:href="icons.svg#file"></use>
        </svg>
        档案详情
    </h1>
    <span class="close dialog-close">&times;</span>
</div>
<div class="dialog-body">
<div class="module-group">
    <div class="module-head flex">
        <div class="module-title">
            基础信息
        </div>
    </div>
    <div class="module-body">
        <table class="table">
            <thead>
                <tr>
                    <td>顾客来源</td>
                    <td>顾客姓名</td>
                    <td>门店ID</td>
                    <td>门店名称</td>
                    <td>手机号码</td>
                    <td>最近营销时间</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><#- (data.source||'-') #></td>
                    <td><#- (data.name||'-') #></td>
                    <td><#- (data.shop_id||'-') #></td>
                    <td><#- (data.shop_name||'-') #></td>
                    <td>加密</td>
                    <td><#- ($.format.date(data.latest_marketing_time, 'yyyy.mm.dd')||'-') #></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="module-group">
    <div class="module-head flex">
        <div class="module-title">
            联系方式
        </div>
    </div>
    <div class="module-body">
        <table class="table">
            <thead>
                <tr>
                    <td>省份</td>
                    <td>地区</td>
                    <td>详细地址</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><#- (data.province||'-') #></td>
                    <td><#- (data.city||'-') #></td>
                    <td><#- (data.address||'-') #></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="module-group">
    <div class="module-head flex">
        <div class="module-title">
            交易信息
        </div>
    </div>
    <div class="module-body deal-record module"></div>
</div>
<div class="module-group">
    <div class="module-head flex">
        <div class="module-title">
            购物预测
        </div>
    </div>
    <div class="module-body">
        <table class="table">
            <thead>
                <tr>
                    <td>产品分类</td>
                    <td>价格区间</td>
                </tr>
            </thead>
            <tbody>
                <# $.each(data.prediction||[], function() { #>
                <tr>
                    <td><#- (this.category_name||'-') #></td>
                    <td class="red"><#- (this.price||'-') #></td>
                </tr>
                <# }); #>
            </tbody>
        </table>
    </div>
</div>
<div class="module-group">
    <div class="module-head flex">
        <div class="module-title">
            营销价值
        </div>
    </div>
    <div class="module-body">
        <table class="table">
            <thead>
                <tr>
                    <td>忠诚度</td>
                    <td>购买力</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="red bold large"><#- (data.loyalty||'-') #></td>
                    <td class="red bold large"><#- (data.shopping_ability||'-') #></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</script>





<script type="text" id="template-profile-detail-dealRecord">
<div class="deal-item">
    <label>最近交易时间：</label>
    <span><#- ($.format.date(data.latest_purchase_time * 1000, 'yyyy.mm.dd')||'-') #></span>
</div>
<div class="deal-item">
    <label>最近订单品类：</label>
    <# $.each(data.latest_category||[], function(i, v) { #>
    <span class="category"><#- v #></span>
    <# }); #>
</div>
<div class="module-head flex">
    产品交易记录
</div>
<table class="table">
    <thead>
        <tr>
            <td>产品名称</td>
            <td>产品型号</td>
            <td>产品分类</td>
            <td>购买时间</td>
            <td>购买数量</td>
            <td>购买单价</td>
        </tr>
    </thead>
    <tbody>
        <# $.each(data.goods, function() { #>
        <tr>
            <td><#- (this.product_name||'-') #></td>
            <td><#- (this.product_model||'-') #></td>
            <td><#- (this.category_name||'-') #></td>
            <td><#- ($.format.date(this.purchase_time*1000, 'yyyy.mm.dd')||'-') #></td>
            <td><#- (this.quantity||'-') #></td>
            <td class="red"><#- (this.unit_price||'-') #></td>
        </tr>
        <# }); #>
    </tbody>
</table>
<div class="table-foot text-right">
    <label>订单总额：</label>
    <span class="red bold large"><#- (data.order_money||'-') #></span>
</div>
</script>